<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Internal.AspNetCore.Sdk" version="2.1.1-preview1-15445" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.BuildTools.ApiCheck" version="2.1.0-preview1-15445" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.Testing" version="2.1.0-preview1-26584" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0-preview2-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0-preview2-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0-preview2-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0-preview2-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging.Console" version="2.0.0-preview2-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging.Debug" version="2.0.0-preview2-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Options" version="2.0.0-preview2-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.1.0" targetFramework="net46" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0-preview2-final" targetFramework="net46" />
  <package id="Microsoft.Net.Http.Headers" version="1.1.2" targetFramework="net46" />
  <package id="Microsoft.NET.Test.Sdk" version="15.3.0" targetFramework="net46" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net46" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.3.0" targetFramework="net46" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net46" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net46" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net46" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net46" />
  <package id="System.Console" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.TraceSource" version="4.0.0" targetFramework="net46" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net46" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net46" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net46" />
  <package id="xunit" version="2.3.0-beta3-build3705" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net46" />
  <package id="xunit.analyzers" version="0.3.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.3.0-beta3-build3705" targetFramework="net46" />
  <package id="xunit.core" version="2.3.0-beta3-build3705" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.3.0-beta3-build3705" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.3.0-beta3-build3705" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.3.0-beta3-build3705" targetFramework="net46" developmentDependency="true" />
</packages>